*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 926px;
    background: radial-gradient(ellipse at top, #62c8cf, transparent),
    radial-gradient(ellipse at bottom, #b758c2, transparent);
    background-repeat: no-repeat;

}

p{
    text-align: center;
}

form{
    text-align: center;
    transform: translate(0,100px);
}


input#name,input#numero,input#postal,input#email,input#mdp{
    padding: 15px;
}

input[type=text], input[type=number], input[type=email],input[type=password]{
    border-radius: 6px;
    height: 50px;
    width: 300px;
    display: inline-block;
    border: 3px black solid;
}

input[type=text], input[type=number], input[type=email],input[type=password], input[type=submit],.placeholder{
    font-size: 20px;
    font-style: italic;
}

input[type=submit]{
    height: 50px;
    width: 180px;
    
    border: 3px solid black;
    border-radius: 180px;
    margin-left: 50px;
    background-color: pink;
}

input[type=submit]:hover{
    background-color: rgb(248, 180, 191);
}

input[type=submit],p{
    font-weight: bolder;
    font-size: large;
}

label{
    font-size: 20px;
    font-weight: bold;
    color: rgb(82, 27, 82);
    padding: 20px;
}

small{
    color: red;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.inputVide{
    border: white 1px solid;
}

.inputCorrect{
    border: green 1px solid;
}

.inputIncorrect{
    border: red 1px solid;
}
