table{
    display: block;
    background-color: salmon;
}
td{
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: salmon;
    border-radius: 5px;
}